<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>REGISTRO</h1>
    <form>
        <input type="text" placeholder="tu nombre">
        <input type="email" placeholder="email">
        <input type="password" placeholder="tu contraseña">
        <button>registrarse</button>
    </form>
    <a href="./login">¿ya tienes cuenta? inicia sesion</a>
    <script src="./register.js"></script>
</body>
</html>