<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>LOGIN</h1>
    <form>
        <label for="">email</label>
        <input type="email" id="email"><br>
        <label for="">contraseña</label>
        <input type="password" id="password">
        <button>iniciar sesion</button>
    </form>
    <script src="../login.js"></script>
</body>
</html>
